/* PC */
@media screen and (min-width: 992px) {  
}

/* Table & Mobile */
@media screen and (max-width: 992px) { 

}
/* Mobile */
@media screen and (max-width: 767px) {  
    .navbar .action {
        display: none;
    }
    .navbar-list {
        display: none;
    }
    .header-action {
        margin-right: auto;
    }
    .navbar ul {
        display: none;
    }
    .toggle-menu {
        margin-right: auto;
    }
    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }
    .menu-drawer {
        padding: 40px;
        position: fixed;
        inset: 0 25% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
    }
    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }
    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);

    }
}